<div class="container">
  <h1>Add a new booking</h1>
  <%= simple_form_for [ @cow, @booking ] do |b| %>
    <%= b.input :start_date %>
    <%= b.input :end_date %>
    <%= b.submit "Submit booking", class: "btn btn-flat" %>
  <% end %>
  <%= link_to "Back to cows", cows_path, class: "btn btn-flat" %>
</div>
