<h1>This is the Mooking show page</h1>

<ul>
  <li><%= @booking.cow.name %></li>
  <li><%= @booking.start_date %></li>
  <li><%= @booking.end_date %></li>
  <li><%= @booking.cow.user.email %></li>
</ul>

<%= link_to "See all cows",  cows_path %>
